html {
    background-color: var(--green);
}

#wrapper {
    display: flex;
    justify-content: center;
}

.card {
    color: var(--green);
    background-color: white;
    padding: 35px 50px 30px 55px;
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    width: 800px;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

#interaction {
    display: flex;
    margin-bottom: 35px;
}

h1 {
    color: var(--green);
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-right: 25px;
}

select {
    color: var(--green);
    border: solid 5px var(--green);
    border-radius: 35px;
    height: 14px;
    width: 390px;
    padding: 22px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
