html {
    background-color: var(--green);
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin-left: 13%;
}

.card {
    color: var(--green);
    background-color: white;
    padding: 35px 50px 30px 55px;
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    width: 760px;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#container h2 {
    margin-top: 0;
    font-size: 36px;
}

h2 {
    font-size: 36px;
    margin: 0;
}

#messageContent {
    color: var(--green);
    border: solid 5px var(--green);
    font-size: 16px;
    font-weight: bold;
    border-radius: 35px;
    padding: 15px;
    width: 65%;
}

#interface {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#create-Post {
    position: absolute;
    color: var(--white);
    background-color: var(--green);
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    width: 180px;
    height: 50px;
    margin-top: 595px;
    margin-left: 210px;
    padding-left: 20px;
    padding-top: 4px;
    border-radius: 35px;
    border: none;
    text-align: left;
    transition: text-indent 0.5s ease;
}

#create-Post:hover {
    text-indent: 90px;
}

#seller-Info {
    background-color: white;
    width: 400px;
    height: 650px;
    padding: 35px 50px 30px 55px;
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    color: var(--green);
    margin-top: 40px;
}

input {
    color: var(--green);
    border: solid 5px var(--green);
    border-radius: 35px;
    height: 14px;
    width: 390px;
    padding: 22px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

input::placeholder {
    color: var(--green);
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.negative-Feedback {
    color: var(--green);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.ball-Negative-Feedback {
    background: var(--green);
    border-radius: 35px;
    width: 11px;
    height: 11px;
    margin-right: 5px;
}

.hide {
    visibility: hidden;
}

#postTitle {
    color: var(--green);
    border: none;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 30px;
}

#postTitle::placeholder {
    color: var(--green);
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
}

#postContent {
    color: var(--green);
    border: solid 5px var(--green);
    font-size: 18px;
    font-weight: bold;
    border-radius: 35px;
    padding: 15px;
    height: 225px;
    width: 390px;
    resize: none;
    margin-top: 5px;
}

#postContent::-webkit-scrollbar {
    display: none;
}

#postContent::placeholder {
    color: var(--green);
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

#add-photos {
    position: absolute;
    color: var(--white);
    background-color: var(--green);
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    width: 180px;
    height: 50px;
    margin-top: 595px;
    margin-left: 570px;
    padding-left: 20px;
    padding-top: 4px;
    border-radius: 35px;
    border: none;
    text-align: left;
    transition: text-indent 0.5s ease;
}

#add-photos:hover {
    text-indent: 100px;
}

#addImage {
    display: none;
}

#previewImage {
    margin-top: 70px;
    border-radius: 35px;
    width: 700px;
    height: 400px;
    margin-bottom: 0;
    margin-left: 30px;
}

.invisible {
    display: none;
}
