#container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    color: var(--green);
    background-color: white;
    width: 450px;
    height: 450px;
    padding: 30px 55px 30px 55px;
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 25px;
}

img {
    width: 120%;
}

#middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    width: 20%;
}

#productName {
    color: var(--green);
    font-size: 36px;
    font-weight: bold;
    margin-left: 75px;
    margin-bottom: 50px;
}

h1 {
    margin: 0px;
    text-align: left;
}

#phrase {
    margin: 0px;
    color: var(--green);
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}

#validation-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#enter-Account {
    color: var(--white);
    background-color: var(--green);
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    width: 180px;
    height: 55px;
    padding-left: 25px;
    padding-top: 4px;
    border-radius: 35px;
    border: none;
    text-align: left;
    transition: text-indent 0.5s ease;
    margin-left: -5%;
}

#enter-Account:hover {
    text-indent: 95px;
    cursor: pointer;
}
