main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: white;
    position: absolute;
    width: 480px;
    height: 635px;
    margin-top: 860px;
    padding: 35px 50px 30px 55px;
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: var(--green);
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 70px;
}

input {
    color: var(--green);
    border: solid 5px var(--green);
    border-radius: 35px;
    height: 14px;
    width: 475px;
    padding: 22px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

input::placeholder {
    color: var(--green);
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.user-Account {
    margin-bottom: 35px;
}

.user-Account-password {
    margin-bottom: 50px;
}

.user-Account-Margin {
    margin-bottom: 90px;
}

#validation-Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

#create-Account {
    color: var(--white);
    background-color: var(--green);
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    width: 235px;
    height: 55px;
    padding-left: 20px;
    padding-top: 4px;
    border-radius: 35px;
    border: none;
    text-align: left;
    transition: text-indent 0.5s ease;
}

#create-Account:hover {
    text-indent: 125px;
    cursor: pointer;
}

/* ------------------- */


/* --- Google Button --- */
.login-with-google-btn {
    color: #757575;
    font-weight: bold;
    font-size: 16px;
    width: 235px;
    height: 55px;
    padding-left: 20px;
    padding-top: 5px;
    border-radius: 35px;
    border: solid 5px var(--green);
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 14px 12px;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

/* --------------------- */

#verification {
    border: #44653B solid 5px;
    border-radius: 35px;
    padding: 25px;
    height: 460px;
    color: #44653B;
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    margin-top: -10px;
}


#sendagain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 290px;
}


#noemail {
    font-size: 26px;
    margin-top: 10px;
}

#new-mail {
    color: var(--white);
    background-color: var(--green);
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    width: 235px;
    height: 50px;
    padding-left: 20px;
    padding-top: 4px;
    border-radius: 35px;
    border: none;
    text-align: left;
    transition: text-indent 0.5s ease;
}


#new-mail:hover {
    text-indent: 90px;
    cursor: pointer;
}

.negative-Feedback {
    color: var(--green);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    width: 100%;
}

.ball-Negative-Feedback {
    background: var(--green);
    border-radius: 35px;
    width: 11px;
    height: 11px;
    margin-right: 5px;
}

#spacer {
    margin-left: 50px;
}
