:root {
    --green: #44653B;
    --white: #F5F5F7;
}

html {
    font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar {
    display: none;
}

.italic {
    font-style: italic;
}

.floating-Text {
    color: var(--green);
    position: absolute;
    z-index: 99;
    font-size: 24px;
    margin-left: -59.5%;
    margin-top: 280px;
    font-weight: bolder;
}
